.site-main__container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-main-left{
    position: sticky;
    top: 50px;
    align-self: flex-start;
    max-width: 250px;
    width: 100%;
    margin-right: 30px;
}

.site-main-board{
    flex-grow: 1;
}

@media only screen and (max-width:900px){
    .site-main__container{
        flex-direction: column;
    }

    .site-main-left{
        position: relative;
        top: 0;
        display: flex;
        margin-bottom: 25px;
        margin-right: 0;
        max-width:100%;
    }
}

@media only screen and (max-width:650px){
    .site-main-left{
        flex-direction: column;
    }
}