.user-account-wrapper{
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    border-radius: 10px;
    color: #fff;
    padding: 24px;
    margin-bottom: 24px;
    min-width: 255px;
}

.user-info{
    margin-bottom: 30px;
}

.log{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: #fff;
}
.log path{
    fill: #fff;
}

.log:hover{
    color: #F49F85;
}

.log:hover path{
    fill: #F49F85;
}

.user-name{
    margin-top: 0;
    margin-bottom: 0px;
}

.user-name-image{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.hub-name{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
}

.hub-text{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    opacity: 0.75;
}

@media only screen and (max-width:900px){
    .user-account-wrapper{
        margin-bottom: 0;
        margin-right: 24px;
    }
}

@media only screen and (max-width:650px){
    .user-account-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .user-account-wrapper div{
        flex-grow: 1;
    }

    .user-info{
        margin-right: 25px;
    }
    .user-account-wrapper{
        margin-bottom: 24px;
        margin-right: 0;
    }
}