.comments-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}

.comments-header{
    margin-bottom: 24px;
}

.user-comment, .user-comments__wrapper{
    background-color: #fff;
    padding: 28px 32px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.user-comments__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.user-comments__item{
    padding-top: 15px;
}

.user-comments__item:not(:last-child){
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
}

.post-comment-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px;
}

.add-comment__title{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #3A4374;
}

.add-comment__input{
    margin-bottom: 24px;
    padding: 10px;
}

.post-comment-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-comment__button{
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

.post-comment__button:hover{
    opacity: 0.7;
}

.comment-length-info{
    font-size: 15px;
    line-height: 22px;
    color: #647196;
}

.warning-info{
    font-size: 15px;
    line-height: 22px;
    color:red;
}

.reply-button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
}

.reply-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
}

.reply-form__input{
    padding: 10px;
    margin-bottom: 24px;
}

.reply-form__buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.reply-form-button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
}

.reply-form-button:hover{
    opacity: 0.7;
}

.reply-form-button:active{
    opacity: 0.5;
}

.reply-button__cancel{
    margin-right: 15px;
    background-color: #3A4374;
}

.reply-button__submit{
    background-color: #ad1fea;
}