@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Medium.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Regular.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-SemiBold.woff2') format('woff2'),
        url('./Assets/fonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Bold.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-ExtraLight.woff2') format('woff2'),
        url('./Assets/fonts/Jost-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Light.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-ExtraBold.woff2') format('woff2'),
        url('./Assets/fonts/Jost-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Black.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./Assets/fonts/Jost-Thin.woff2') format('woff2'),
        url('./Assets/fonts/Jost-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Jost", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container{
    max-width: 1150px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
}

.visually-hidden{
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}